{% extends 'base.html' %}


{% block title %}{{object.title}}{% endblock %}

{% block main %}
<div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
    <div class="intro disp">
        <h1 class="text-center disp_head"><strong>{{object.title}} </h1>
        <p class="text-center"><span class="date disp_date">{{object.date|date:'d/m/Y'}}</span></p></div>
    <div class="text">
        <p class="align-content-center" id="proj_desc">{{object.entry|safe}}</p>
        <figure></figure>
    </div>
</div>
{% endblock %}
