{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}Home - Personal portfolio{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/user.css' %}">
</head>

<body class="text-left" style="font-size: 12px;">
    <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-white text-left portfolio-navbar gradient" style="padding-left: 0px;padding-right: 15px;padding-bottom: 20px;">
        <div class="container">
            {% block nav_right %}
            <a class="navbar-brand text-left text-sm-left text-md-left text-lg-left text-xl-left text-white logo" href="#" style="margin-right: 0px;margin-left: 0px;width: 150px;"><strong class="port_left">Personal portfolio</strong></a><button data-toggle="collapse" class="navbar-toggler"
                data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            {% endblock %}
            <div class="collapse navbar-collapse" id="navbarNav" style="margin-right: -700;">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'project:home' %}" style="padding-right: 0px;padding-left: 0px;">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% static 'my_resume.pdf' %}" target="_blank" style="padding-right: -px;padding-left: 0px;">Resume</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'project:projects' %}" style="padding-right: 0px;padding-left: 0px;">Projects</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'blog:list' %} " target="_blank" style="padding-left: 0px;padding-right: 0px;">Blog</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {% block main %}
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro"><img src="{% static 'assets/img/me.jpg' %}" width="200" height="200" style="width: 400px;height: 500px;margin: 0px;">
            <div class="container">
                <div class="about-me">
                    <p class="text-center" style="margin-bottom: 0px;margin-top: 50px;">Hello! I am <strong>Rehoboth Okorie</strong>. I am a Computer Science major and Biology Double minor sophomore at Dartmouth College.</p>
                </div>
            </div>
        </section>
        <section class="portfolio-block photography"></section>
        <section class="portfolio-block skills">
            <div class="container">
                <div class="text-center heading">
                    <h2>Projects</h2>
                </div>
                {% block projects %}
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Web Design</h3>
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Interface Design</h3>
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Photography and Print</h3>
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </section>
    </main>
    {% endblock %}

    <footer class="page-footer">
        <div class="container">
            <div class="social-icons"><a href="https://www.facebook.com/"><i class="icon ion-social-facebook"></i></a><a href="https://www.instagram.com/"><i class="icon ion-social-instagram-outline"></i></a><a href="https://www.twitter.com/"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>

</body>

</html>